option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: serwerowicz.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: assets
  aws:elasticbeanstalk:application:environment:
    # Syntax: {{resolve:secretsmanager:SecretName:SecretString:KeyInsideJSON}}
    RDS_PASSWORD: "{{resolve:secretsmanager:prod/serwerowicz/secretsa:SecretString:RDS_PASSWORD}}"
    RDS_USERNAME: "{{resolve:secretsmanager:prod/serwerowicz/secretsa:SecretString:RDS_USERNAME}}"
    RDS_DB_NAME: "{{resolve:secretsmanager:prod/serwerowicz/secretsa:SecretString:RDS_DB_NAME}}"
    RDS_HOSTNAME: "{{resolve:secretsmanager:prod/serwerowicz/secretsa:SecretString:RDS_HOSTNAME}}"
    RDS_PORT: "{{resolve:secretsmanager:prod/serwerowicz/secretsa:SecretString:RDS_PORT}}"
    S3_NAME: "{{resolve:secretsmanager:prod/serwerowicz/secretsa:SecretString:S3_NAME}}"
    DJANGO_SECRET_KEY: "{{resolve:secretsmanager:prod/serwerowicz/secretsa:SecretString:DJANGO_SECRET_KEY}}"

container_commands:
  00_mkdir_static:
    # Create the folder in the staging directory and give it to webapp
    command: "mkdir -p /var/app/staging/assets && chown webapp:webapp /var/app/staging/assets"
  01_collectstatic:
    # Now run collectstatic as the webapp user
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
