<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Serwerowicz
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <script defer src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <nav>
        <a href="/">
            <span role='img' aria-label='Home' title="Home">
                🏠
            </span>
        </a> |
        <a href="/about">
            <span role='img' aria-label='About' title="About">
                🧑‍💻
            </span>
        </a> |
        <a href="{% url 'products:list' %}">
            <span role='img' aria-label='Products' title="Products">
                🍞
            </span>
        </a> |
        <a href="{% url 'users:register' %}">
            <span role='img' aria-label='User registration' title="User registration">
                👥
            </span>
        </a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>