<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            Serwerowicz
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/body.css' %}">
    {% block extra_styles %}{% endblock extra_styles %}

    <link rel="icon" href="{% static 'image/favicon.png' %}" type="image/png">

    <script defer src="{% static 'js/main.js' %}"></script>
    <style>
        @font-face {
            font-family: 'titleFont';
            src: local('ThisNight'),
                url('{% static 'fonts/ThisNight.ttf' %}');
        }
        @font-face {
            font-family: 'defaultFont';
            src: local('RedHatDisplay'),
                url('{% static 'fonts/RedHatDisplay.ttf' %}');
        }
    </style>
</head>
<body>
    <nav>
        <div class="title-container">
            <span class="title">Zakupy nie</span>
            <span class="title">do dupy</span>
        </div>
        <div class="product">
            <a href="/">
                <span aria-label='Dom' title="Dom">
                    Dom
                </span>
            </a>
            <a href="/about">
                <span aria-label='O nas' title="O nas">
                    O nas
                </span>
            </a>
            {% if user.is_authenticated %}
                <a href="{% url 'products:list' %}">
                    <span aria-label='Produkty' title="Produkty">
                        Produkty
                    </span>
                </a>
                {% comment %} <a href="{% url 'products:new' %}">
                    <span aria-label='Dodaj Produkt' title="Dodaj Produkt">
                        Dodaj Produkt
                    </span>
                </a> {% endcomment %}
            {% endif %}
        </div>

        <div class="tenant-management">
            {% if user.is_authenticated %}
                <form class="logout" action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <button class="logout-button" aria-label='Logout' title='Logout'>
                        Logout
                    </button>
                </form>
            {% else %}
                <a href="{% url 'users:register' %}">
                    <span aria-label='Rejestracja' title="Rejestracja">
                        Rejestracja
                    </span>
                </a>
                <a href="{% url 'users:login' %}">
                    <span aria-label='Login' title="Login">
                        Login
                    </span>
                </a>
            {% endif %}
        </div>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>